<div style="display: flex; justify-content: space-between">
  <div>Menu icon</div>
  <div>Current page title</div>
  <div style="display: flex; gap: 8px;">
    <div>Phone icon</div>
    <div>Cart Icon</div>
  </div>
</div>